<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body" style="background-color: #2b2d42; border-radius: 10px;">
          <div class="app-brand justify-content-center" >
            <span class="app-brand-logo">
              <img
                class="logo"
                style="display: flex"
                src="{{ url_for('static', filename ='./assets/img/logo-removebg.png') }}"
                alt="Logo" />
            </span>
          </div>

          <form 
            id="formAuthentication"
            class="mb-3"
            action="{{ url_for('loginCliente') }}"
            method="POST">
            <div class="mb-3">
              <label for="email" class="form-label" style="color: #fff;">Email</label>
              <input
                type="email"
                class="form-control"
                name="email_user"
                placeholder="Escribe tu email"
                autofocus
                required 
                style="background-color: white !important; color: #000000; border-radius: 5px; border: 1px solid #ccc; padding: 10px;"/>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password" style="color: #fff;">Clave</label>
                <a href="{{ url_for('cpanelRecoveryPassUser') }}">
                  <small>Olvidó su Clave?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  class="form-control"
                  name="pass_user"
                  id="pass_user"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                  required
                  style="background-color: white !important; color: black; border-radius: 5px; border: 1px solid #ccc; padding: 10px;"/>
                <span class="input-group-text cursor-pointer">
                  <i class="bx bx-hide"></i>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary w-100" type="submit">
                Entrar ahora
                <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </form>
          <!-- 
          <p class="text-center">
            <a href="./register-user">
              <span>Crear mi cuenta</span>
            </a>
          </p>
          --> 
        </div>
      </div>
    </div>
  </div>
</div>
