{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
<title>{% block title %}Claro | Qmas{% endblock %}</title>
<!---->
{% block body %} {% if (resp_equiposBD) %}

<div class="card content_consignaciones" style="border-radius: 15px; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
    <div class="row justify-content-center mb-2">
        <div class="col-md-12">
            <div class="banner text-center">
                <h3 class="banner-title mt-1 mb-1">Inventario Digital - Qmas</h3>
            </div>
        </div>

        <div class="row justify-content-center mb-2 gap-2">
            <div class="col-md-6 col-lg-5">
                <label for="search_bodega" class="form-label">Marca</label>
                <select id="search_bodega" class="form-select" onchange="buscador_equipo_digital(this.value)">
                    <option value="">Selecciona una marca</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Oppo">Oppo</option>
                    <option value="Honor">Honor</option>
                    <option value="Vivo">Vivo</option>
                    <option value="Tecno">Tecno</option>
                    <option value="Motorola">Motorola</option>
                    <option value="Xiaomi">Xiaomi</option>
                    <option value="Huawei">Huawei</option>
                    <option value="Microsoft">Microsoft</option>
                </select>
            </div>
            <div class="col-md-6 col-lg-5">
                <label for="search_producto" class="form-label">Producto</label>
                <input type="search" id="search_producto" class="form-control" placeholder="Buscar equipo..."
                    aria-describedby="floatingInputHelp" onkeyup="buscador_equipo_digital('inventario_bodega')" />
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover" width="100%">
                <thead>
                    <tr style="background-color: #ddd">
                        <th>Tipo Equipo</th>
                        <th>Marca</th>
                        <th>Producto</th>
                        <th>Gamma</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in resp_equiposBD %}
                    <tr>
                        <td>{{ usuario.tipo_equipo}}</td>
                        <td>{{ usuario.marca}}</td>
                        <td>{{ usuario.producto}}</td>
                        <td>{{ usuario.gamma}}</td>
                        <td>
                            {% if session.get('rol') == 'admin' %}
                            <button class="btn rounded-pill btn-danger btn-sm me-2"
                                onclick="eliminarUsuario('{{ usuario.id }}');" style="transition: all 0.3s;">
                                <i class="bi bi-trash3"></i> Eliminar
                            </button>
                            {% endif %}
                            <button class="btn rounded-pill btn-success btn-sm me-2"
                                onclick="enviar_sms_equipo('{{ usuario.id }}','{{ usuario.producto }}');"  style="transition: all 0.3s;">
                                <i class="bi bi-chat-dots"></i> Enviar SMS
                            </button>
                            <button class="btn rounded-pill btn-primary btn-sm"
                                onclick="inventario_claro('{{ usuario.id }}');" style="transition: all 0.3s;">
                                <i class="bi bi-eye"></i> Ver
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </section>
    </div>
    {% else %}
    <div class="container mt-3 mb-3">
        <div class="row justify-content-md-center mb-2">
            <div class="col-12 text-center">
                <h2 class="text-center" style="color: #2c3e50;">No hay Equipos creados 😭</h2>
                <p class="text-center text-muted">Aún no se han registrado equipos en el sistema.</p>
            </div>
        </div>
    </div>
    {% endif %}
    <!--Fin del Block-->
    {% endblock %}

    <!--Script Custom-->
    {% block customJS %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function eliminarUsuario(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Está a punto de eliminar un equipo. Esta acción no se puede deshacer.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                cancelButtonColor: "#6c757d",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    let url = `/borrar-equipo/${id}`;
                    if (url) {
                        window.location.href = url;
                    }
                }
            });
        }

        function enviar_sms_equipo(id,producto) {
            Swal.fire({
                title: "Enviar SMS",
                text: "Ingresa el número de teléfono (10 dígitos sin +57):",
                input: "text",
                inputPlaceholder: "Ejemplo: 3123456789",
                showCancelButton: true,
                confirmButtonText: "Enviar",
                cancelButtonText: "Cancelar",
                inputValidator: (value) => {
                    if (!/^\d{10}$/.test(value)) {
                        return "Debes ingresar un número válido de 10 dígitos.";
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    let numeroTelefono = result.value;
                    let data = { id_e: id, telefono: numeroTelefono, equipo:producto };
                    console.log("📤 Enviando solicitud a Flask:", data);
                    // Petición fetch con método POST y JSON
                    fetch("/enviar-equipo", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data) // Datos en JSON
                    })
                        .then(response => {
                            console.log("📥 Respuesta recibida de Flask:", response);
                            return response.json();
                        })
                        .then(data => {
                            if (data.error) {
                                console.error("🚨 Error en respuesta:", data.error);
                                Swal.fire("Error", data.error, "error");
                            } else {
                                Swal.fire("Éxito", "Mensaje enviado correctamente", "success");
                            }
                        })
                        .catch(error => {
                            Swal.fire("Error", "Hubo un problema al enviar el SMS", "error");
                            console.error("Error en fetch de envio sms:", error);
                        });
                }
            });
        }

        function inventario_claro(id) {
            if (id) {
                let url = `/inventario_claro/${id}`;
                window.open(url, '_blank');
            } else {
                console.error("El ID del equipo no está definido.");
            }
        }

    </script>
    {% endblock %}