{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Claro - Qmas | Inventario T&T {% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <div class="banner text-center">
        <h3 class="banner-title mt-3 mb-3">Inventario Claro TyT - Bodega</h3>
      </div>
      <hr />
    </div>

    <div class="row justify-content-center mb-3 gap-3">
      <div class="col-md-6 col-lg-5">
        <label for="search_bodega" class="form-label">Bodega o Ciudad</label>
        <input
          type="search"
          id="search_bodega"
          class="form-control"
          placeholder="Buscar Bodega..."
          aria-describedby="floatingInputHelp"
          onkeyup="buscadorTable_bodega_pro('inventario_bodega')" />
      </div>
      <div class="col-md-6 col-lg-5">
        <label for="search_producto" class="form-label">Producto</label>
        <input
          type="search"
          id="search_producto"
          class="form-control"
          placeholder="Buscar equipo..."
          aria-describedby="floatingInputHelp"
          onkeyup="buscadorTable_bodega_pro('inventario_bodega')" />
      </div>
    </div>
    

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover table-striped mt-4 mb-4 px-3">
        <table
          table-hover
          id="inventario_bodega"
          class="table table-striped table-bordered table-hover "
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              
              <th>Bodega</th>
              <th>Cod_Material</th>
              <th>Producto</th>
              <th>Disponible</th>
              <th>Fecha Actualización</th>
            </tr>
          </thead>
          <tbody>
            {% for inventario in inventario %}
            <tr id="inventario_{{ inventario.Subproducto }}">
              
              <td>{{ inventario.Bodega }}</td>
              <td>{{ inventario.Material }}</td>
              <td>{{ inventario.Subproducto }}</td>
              <td>{{ inventario.CantidadDisponible }}</td>
              <td>{{ inventario.creation_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
