{% for inventario in dataBusqueda_inv_bod_pro %}
<tr id="inventario_{{ inventario.Bodega }}">
  <td class="copyable" data-field="bodega">{{ inventario.Bodega }}</td>
  <td class="copyable" data-field="material" data-material-id="{{ inventario.Material }}">{{ inventario.Material }}</td>
  <td class="copyable" data-field="producto">{{ inventario.Subproducto }}</td>
  <td class="copyable" data-field="disponible">{{ inventario.CantidadDisponible }}</td>
  <td class="copyable" data-field="fecha">{{ inventario.creation_date }}</td>
</tr>
{% endfor %}


{% if dataBusqueda_inv_bod_pro|length == 0 %}
<tr>
  <td colspan="5" style="text-align:center;">No se encontraron resultados.</td>
</tr>
{% endif %}